/**/
/*general*/
/**/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', helvetica, sans-serif;
    overflow-x: hidden;
}
/*TOP*/
/*header background*/
header{
    height: 80px;
    background-color: black;
}
/*header box*/
.header{
    max-width: 1140px;
    height: 80px;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
}
/*menu in header*/
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
}
.menu li a:hover{
    border-bottom: 5px solid #B28756; 
    color: #cccccc;
}
.menu.active a{
    border-bottom: 5px solid #B28756;
    color: #cccccc;
}
/*logo in header*/
.logo{
    width: 80px;
}
.logoimg{
    width: 50px;
    height: 50px;
    background-color:#B28756 ;
    padding-top: 15px;
    border-radius: 25px;
    }

/*BANNER*/
.banner{
    height: calc(100vh - 80px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom; 
    /*ignore outside viewport*/
    overflow: hidden;  
}
.banner .sliders{
    /*largura total (n)slides = tela x n(slides)*/
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    /*vw (width) vh(height)*/
    width: 100vw;
    height: 100%;
    /*slides posicionados na horizontal*/
    display: inline-block;
    /*filtro sobre imagem*/
    background-color: rgba(0, 0, 0, 0.7);
}
.banner .slidearea {
    /*slide 1 content*/
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    /*centraliz vert horiz*/
    justify-content: center;
    align-items: center;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px; 
}
.banner h1 span{
    color: #B28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
}
.banner a, 
.button{
    display: inline-block;
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 30px;
    border: 1px solid #333;
    border-radius: 25px;
}
/*pointers*/
.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #B28756;
}
/*default*/
.default{
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title{
    font-size: 20px;  
}
.default .section-desc{
    font-size: 13px;
    color: #CCC;
    margin-top: 8px;
    margin-bottom: 40px;
}
.default .section-body{
    margin: auto;
    max-width: 1140px;
    min-height: 100px;
}
/*default light*/
.default.light{
    background-color: #F7F7F7;
}
.default.light .section-title,
.default.light .section-body{
    color: black;
}
/*default dark*/
.default.dark{
    background-color: black;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #f7f7f7;
}


/**/
/*specific areas*/
/**/

/*about us*/

.section-aboutus{
    display: flex;
}
.section-aboutus--left{
    flex: 1;
}
.section-aboutus--left p{
    font-size: 14px;
    line-height: 30px;
}
.section-aboutus--right{
    width: 520px;
    text-align: center;
}
.section-aboutus--right img{
    width: 480px;
    box-shadow: 0px 0px 10px #333;
}

/*services*/
.section-services{
    display: flex;
}
.section-service{
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}
.section-service:first-child{
    border-left: 1px solid #333
}
.section-service h4{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}
.section-service p{
    margin-top: 10px ;
    font-size: 13px;
    color: rgb(151, 151, 151);
}
/*Projects*/
.section-projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters{
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
    
}
.section-projects--filters ul,
.section-projects--filters li{
    list-style: none;
}
.section-projects--filters li{
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;    
    color: #555;
    border-bottom: 3px solid #EEE ;
}
/*.section-projects--filters li.active*/
.section-projects--filters li:hover{
    border-bottom: 3px solid #B28756;
}
.section-projects--filters li:first-child{
    border-left: 0;
}
/*photos*/
.section-projects--photos{
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo{
    width: 280px;
}
.section-projects--photoarea{
    margin: 10px;
    width: 260px;
    height: 160px;
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}
.section-projects--photoarea img{
    width: 260px;
    height: 160px;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 260px;
    height: 160px;
   /* display: none;*/
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.section-projects--photoinfo h5{
    font-size: 15px;
    font-weight: 400;
}
