/*GENERAL*/
*{
        box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', helvetica, sans-serif;
}
/*TOP*/
/*header background*/
header{
    height: 80px;
    background-color: black;
}
/*header box*/
.header{
    max-width: 1140px;
    height: 80px;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
}
/*menu in header*/
.menu{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu ul{
    display: flex;
}
.menu li a {
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid black;
}
.menu li a:hover{
    border-bottom: 5px solid #B28756; 
    color: #cccccc;
}
.menu.active a{
    border-bottom: 5px solid #B28756;
    color: #cccccc;
}
/*logo in header*/
.logo{
    width: 80px;
}
.logoimg{
    width: 50px;
    height: 50px;
    background-color:#B28756 ;
    padding-top: 15px;
    border-radius: 25px;
    }

/*BANNER*/
.banner{
    height: calc(100vh - 80px);
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom; 
    /*ignore outside viewport*/
    overflow: hidden;  
}
.banner .sliders{
    /*largura total (n)slides = tela x n(slides)*/
    width: 1000vw;
    height: 100%;
}
.banner .slide{
    /*vw (width) vh(height)*/
    width: 100vw;
    height: 100%;
    /*slides posicionados na horizontal*/
    display: inline-block;
    /*filtro sobre imagem*/
    background-color: rgba(0, 0, 0, 0.7);
}
.banner .slidearea {
    /*slide 1 content*/
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    /*centraliz vert horiz*/
    justify-content: center;
    align-items: center;
}
.banner h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px; 
}
.banner h1 span{
    color: #B28756;
}
.banner h2{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
}
.banner a{
    display: block;
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 30px;
    padding: 10px 30px;
    border: 1px solid #333;
    border-radius: 25px;
}
/*pointers*/
.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointer{
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.banner .pointer.active{
    background-color: #B28756;
}